<div class="row">
    <% if @question.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
              <%= "#{action_message}" %>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <%= form_with(model: [:admins_backoffice, @question], local: true) do |f| %>
                            <div class="form-group">
                                <%= f.label :description %>
                                <%= f.text_area :description ,
                                 placeholder: t('placeholder.question_description'),
                                 class: "form-control" , autofocus: true, rows: 5%>
                            </div>

                            <div class="form-group">
                                <%= f.label :subject_id %>
                                <%= f.collection_select :subject_id, @subject_options,
                                 :id, :description ,
                                  { include_blank: t('placeholder.question_subject')},
                                   { class: "form-control"} %>
                            </div>

                            <%= f.submit t('button.save'), class: "btn btn-default" %>
                        <% end %>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
