<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <h1><%= t('panel.change_password') %></h1>
          <div>
            <%= f.password_field :password, placeholder:t('fields.password'), class:"form-control" %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, placeholder:t('fields.password_confirmation'), class:"form-control" %>
          </div>
          <div class="">
            <%= f.submit t('button.change_password'), class:"btn btn-default submit text-center",
              style: "float: none; margin-left: 0px; width: 50%;" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

            <div>
              <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
              <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
